<!-- Modal -->
<div class="modal fade bs-modal-sm questions-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>

      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#signin" data-toggle="tab">All questions</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="signin">

            <fieldset>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="col-xs-2"></th>
                  <th class="col-xs-7">Question</th>
                  <th class="col-xs-2">Department</th>
                  <th class="col-xs-1">Key</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <%= form_for :question, as: :post, url: questions_new_path(:question), html: {class: 'newQuestionForm', data: {standard: 'fineDining'}} do |f| %>
                      <div class="user-row">

                      <th><%= f.submit "Add +", :class => "btn btn-primary login addQuestion" %></th>
                        <th><%= f.text_field :body, :class => "form-control", :placeholder => "New question" %></th>
                        <th><%= f.select :department, @departments.map(&:name) %></th>
                        <th><%= f.select :key, @keys.map(&:name) %></th>
                      </div>

                <% end %>
                </tr>
                <% @questions.each do |question| %>
                    <tr>
                      <div class="user-row" data-question-id="<%= question.id %>">
                        <th>
                          <button class="btn btn-sm btn-danger deleteQuestion"
                                  type="button" data-toggle="tooltip"
                                  data-original-title="Remove this question"
                                  data-question-id="<%= question.id %>">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </th>
                        <th>
                          <strong><%= question.body %></strong>
                        </th>
                        <th>
                          <strong><%= question.department %></strong>
                        </th>
                        <th>
                          <strong><%= question.key %></strong>
                        </th>
                      </div>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </fieldset>
          </div>

        </div>
      </div>
      <div class="modal-footer" style="border: 0">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>