<% if current_user.admin %>

    <%= render 'evaluator/user_evaluation' %>

    <h1>User Evaluations</h1>
    <h4>Pending Evaluations</h4>
    <%= render 'admin/tables/pending_applications', locals: {evaluations: @pending_evaluations} %>

    <h4>Open Evaluations</h4>
    <%= render 'admin/tables/open_applications', locals: {evaluations: @open_evaluations} %>

    <h4>Submitted Evaluations</h4>
    <%= render 'admin/tables/submitted_applications', locals: {evaluations: @submitted_evaluations} %>

    <h4>Completed Evaluations</h4>
    <%= render 'admin/tables/complete_applications', locals: {evaluations: @completed_evaluations} %>

<% end %>