<div class="container">
  <% if current_user && current_user.admin %>
      <%= render 'admin/modals/root' %>
      <%= render 'evaluator/user_evaluation' %>
      <%= render 'admin/modals/reopen_submission' %>
      <h2>
        Welcome back
        <%= current_user.first_name.capitalize %>
      </h2>
      <p>
        <%= link_to('Evaluations', "#login", :data => {toggle: 'modal', target: ".eval-modal"}) %> -
        <%= link_to('Restaurants', "#login", :data => {toggle: 'modal', target: "#new-restaurant-modal"}) %> -
        <%= link_to('Standards', "#login", :data => {toggle: 'modal', target: ".standards-modal"}) %> -
        <%= link_to('Questions', "#login", :data => {toggle: 'modal', target: ".questions-modal"}) %> -
        <%= link_to('Departments', "#login", :data => {toggle: 'modal', target: ".departments-modal"}) %> -
        <%= link_to('Keys', "#login", :data => {toggle: 'modal', target: ".keys-modal"}) %>
      </p>
      <br>

      <h2>User Evaluations</h2>
      <h4>Pending Evaluations</h4>
      <%= render 'admin/tables/pending_applications', locals: {evaluations: @pending_evaluations} %>

      <h4>Open Evaluations</h4>
      <%= render 'admin/tables/open_applications', locals: {evaluations: @open_evaluations} %>

      <h4>Submitted Evaluations</h4>
      <%= render 'admin/tables/submitted_applications', locals: {evaluations: @submitted_evaluations} %>

      <h4>Completed Evaluations</h4>
      <%= render 'admin/tables/complete_applications', locals: {evaluations: @completed_evaluations} %>

      <hr>
      <hr>

      <h2>Restaurants</h2>
      <%= render 'admin/tables/restaurants', locals: {restaurants: @restaurants} %>

      <hr>
      <hr>
      <h2>Restaurant Evaluations</h2>

      <h4>Open Evaluations</h4>
      <%= render 'admin/tables/evaluations', locals: {evaluations: @open_evaluationss} %>

      <h4>Completed Evaluations</h4>
      <%= render 'admin/tables/completed_evaluations', locals: {evaluations: @completed_evaluationss} %>

  <% end %>
</div>
