<%= form_for :user, as: :post, url: users_path(:user), html: {class: 'signUpForm'} do |f| %>
    <fieldset>
    <div class="controls col-xs-12">
      <h1>Evaluator Application</h1>
    </div>

    <div class="control-group margin-top-8">
      <div class="controls col-xs-12">
        <label class="control-label" for="name">Name:</label>
      </div>
      <div class="controls col-xs-6">
        <%= f.text_field :first_name, :class => "form-control", :placeholder => "First name" %>
      </div>
      <div class="controls col-xs-6">
        <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last name" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="email">Email:</label>

      <div class="controls">
        <%= f.email_field :email, :class => "form-control", :placeholder => "email@gmail.com" %>
      </div>
    </div>
    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="email">Skype:</label>

      <div class="controls">
        <%= f.text_field :skype, :class => "form-control", :placeholder => "Skype Handle" %>
      </div>
    </div>
    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="password">Password:</label>

      <div class="controls">
        <%= f.password_field :password, :class => "form-control", :placeholder => "**********" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="phone">Phone:</label>

      <div class="controls">
        <%= f.telephone_field :phone_number, :class => "form-control", :placeholder => "(555)555-5555" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="address">Address:</label>
      </div>
      <div class="controls col-xs-5">
        <%= f.text_field :address, :class => "form-control", :placeholder => "Address" %>
      </div>
      <div class="controls col-xs-3">
        <%= f.text_field :city, :class => "form-control", :placeholder => "City" %>
      </div>
      <div class="controls col-xs-2">
        <%= f.text_field :state, :class => "form-control", :placeholder => "State" %>
      </div>
      <div class="controls col-xs-2">
        <%= f.text_field :zip, :class => "form-control", :placeholder => "Zip" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="devices">Which devices will you be using for restaurant anonymous?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="checkbox-inline"><input type="checkbox" value="home-office">Home Office</label>
        <label class="checkbox-inline"><input type="checkbox" value="computer">Computer</label>
        <label class="checkbox-inline"><input type="checkbox" value="printer">Printer</label>
        <label class="checkbox-inline"><input type="checkbox" value="scanner">Scanner</label>
        <label class="checkbox-inline"><input type="checkbox" value="fax-machine">Fax Machine</label>
        <label class="checkbox-inline"><input type="checkbox" value="digital-camera">Digital Camera</label>
        <label class="checkbox-inline"><input type="checkbox" value="digital-video-camera">Digital Video Camera</label>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="found_us_by">How did you hear about us?</label>

      <div class="controls">
        <%= f.text_field :found_us_by, :class => "form-control", :placeholder => "Friend, Google, Facebook?" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="occupation">What is your current occupation?</label>

      <div class="controls">
        <%= f.text_field :occupation, :class => "form-control", :placeholder => "Occupation" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="qualifications">Why would you be a valuable evaluator?</label>

      <div class="controls">
        <%= f.text_field :qualifications, :class => "form-control", :placeholder => "Qualifications" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="availability">How often can you service evaluations in your home area?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline"><input type="radio" name="availability" value="home-office">Any Time</label>
        <label class="radio-inline"><input type="radio" name="availability" value="computer">Often</label>
        <label class="radio-inline"><input type="radio" name="availability" value="printer">Sometimes</label>
        <label class="radio-inline"><input type="radio" name="availability" value="scanner">Rarely</label>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="other_locations">Are there any other metropolitan areas you frequent?</label>

      <div class="controls">
        <%= f.text_field :other_locations, :class => "form-control", :placeholder => "Colorado Springs, CO" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="interested_in">What opportunities are you interested in evaluating?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="checkbox-inline"><input type="checkbox" value="restaurant-lunch">Restaurants (Lunch)</label>
        <label class="checkbox-inline"><input type="checkbox" value="restaurant-dinner">Restaurants (Dinner)</label>
        <label class="checkbox-inline"><input type="checkbox" value="bars">Bars</label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="work_with_other_companies">Do you currently perform anonymous evaluations for
          any other
          companies?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline"><input type="radio" name="work_with_other_companies" value="yes">Yes</label>
        <label class="radio-inline"><input type="radio" name="work_with_other_companies" value="no">No</label>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="certification">Do you have an evaluation certification?</label>

      <div class="controls">
        <%= f.text_field :certification, :class => "form-control", :placeholder => "MSPA Silver, MSPA Gold, NARMS, PI License, ..." %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="writing">Which best describes you?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="writing" value="great">I am a great writer, and
          love writing.</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="writing" value="good">I am a capable writer, and
          like writing.</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="writing" value="fair">I am a competent writer,
          and dont mind writing.</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="writing" value="passable">I can write when I
          have to.</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="writing" value="bad">I don't like
          writing</label>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="good_time">Where would you take a friend, if they where visiting your home town?</label>

      <div class="controls">
        <%= f.text_field :good_time, :class => "form-control", :placeholder => "I really enjoy Dulce Vida on Speer and 11th." %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="trends">What food trends do you see catching on in the next few years?</label>

      <div class="controls">
        <%= f.text_field :trends, :class => "form-control", :placeholder => "Baked Alaska is coming back!" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="favorite_restaurant">What is your favorite all time restaurant?</label>

      <div class="controls">
        <%= f.text_field :favorite_restaurant, :class => "form-control", :placeholder => "Chipotle Mexican Grill" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="favorite_restaurant_why">Why is it your favorite?</label>

      <div class="controls">
        <%= f.text_field :favorite_restaurant_why, :class => "form-control", :placeholder => "The food is fresh and the atmosphere is great!" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="ten_and_five">Please describe the '10 & 5' rule?</label>

      <div class="controls">
        <%= f.text_field :ten_and_five, :class => "form-control", :placeholder => "Feel free to use google." %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="literacy">Please list the following words in reverse alphabetical order:
        'alligator', 'orange', 'label', 'yams', 'orangutan':</label>

      <div class="controls">
        <%= f.text_field :literacy, :class => "form-control", :placeholder => "You got this." %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="no_name_scenario">Lets say you just finished dinner at a restaurant you are
        evaluating. You
        get home and can't remember the concierge's name. What do you do?</label>

      <div class="controls">
        <%= f.text_field :no_name_scenario, :class => "form-control", :placeholder => "How would you solve this?" %>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="birthday">What is your birthday?</label>

      <div class="controls">
        <%= f.text_field :birthday, :class => "form-control", :placeholder => "05/15/1990" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="gender">What is your gender?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline"><input type="radio" name="gender" value="male">Male</label>
        <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="employment">Are you currently?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="employed">Employed for
          wages</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="self_employed">Self-employed</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="out_of_work">Out of work for
          more than 1 year</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="recently_out_of_work">Out of
          work for less than 1 year</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="homemaker">A
          homemaker</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="student">A student</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="retired">Retired</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="employment" value="unable_to_work">Unable to
          work</label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls col-xs-12 margin-top-8">
        <label class="control-label" for="education">What is your highest level of education?</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="none">Never attended school or
          only attended Kindergarten</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="elementary">Elementary School</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="high">High School</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="some_college">Some
          College</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="college">College
          Graduate</label>
      </div>
      <div class="controls col-xs-12">
        <label class="radio-inline col-xs-12"><input type="radio" name="education" value="graduate_school">Graduate
          School</label>
      </div>
    </div>

    <div class="control-group col-xs-12 margin-top-8">
      <label class="control-label" for="signup"></label>

      <div class="controls">
        <%= f.submit "Register", :class => "btn btn-primary signUp" %>
      </div>
    </div>
    </fieldset>
<% end %>