<!-- Modal -->
<div class="modal fade bs-modal-sm eval-modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>
      <div class="modal-body">
        <fieldset>
          <%= form_for @evaluation, html: {class: 'newEvaluationForm'} do |f| %>
              <!-- Name-->
              <div class="control-group col-xs-12">
                <label class="control-label" for="name">Title:</label>
                <div class="controls">
                  <%= f.text_field :name, :class => "form-control", :placeholder => "Evaluation Title" %>
                </div>
              </div>

              <!-- Restaurant-->
              <div class="control-group col-xs-12">
                <label class="control-label" for="restaurant">Restaurant:</label>
                <div class="controls">
                  <%= f.select :restaurant_id, @restaurants.map(&:name), {}, :class => 'form-control' %>
                </div>
              </div>

              <!-- Standards-->
              <div class="control-group col-xs-12">
                <label class="control-label" for="standards">Standards:</label>
                <div class="controls">
                  <%= f.select :standard_id, @standards.map(&:name), {}, :class => 'form-control' %>
                </div>
              </div>

              <!-- Message-->
              <div class="control-group col-xs-12">
                <label class="control-label" for="message">Message:</label>
                <div class="controls">
                  <%= f.text_area :message, :class => "form-control", :placeholder => "Extra info about this evaluation." %>
                </div>
              </div>

              <!-- Submit -->
              <div class="control-group col-xs-12">
                <div class="controls">
                  <br>
                  <%= f.submit "Submit", :class => "btn btn-primary login" %>
                </div>
              </div>
              </fieldset>
          <% end %>
          </div>
      <div class="modal-footer" style="border: 0">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>