<!-- Modal -->
<div class="modal fade bs-modal-sm questions-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <fieldset>
          <%= form_for :question, as: :post, url: questions_new_path(:question), html: {class: 'newQuestionForm'} do |f| %>
              <table class="table table-striped control-group">
                <thead>
                <tr>
                  <th class="col-xs-2"></th>
                  <th class="col-xs-6" for="body">Question</th>
                  <th class="col-xs-2">Department</th>
                  <th class="col-xs-2">Key</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th><%= f.submit "Add +", :class => "btn btn-primary login addQuestion" %></th>
                  <th><%= f.text_field :body, :class => "form-control", :placeholder => "New question" %></th>
                  <th><%= f.select :department, @departments.map(&:name), {}, :class => 'form-control' %></th>
                  <th><%= f.select :key, @keys.map(&:name), {}, :class => 'form-control' %></th>
                </tr>
                <% @questions.each do |question| %>
                    <tr>
                      <div class="user-row" data-question-id="<%= question.id %>">
                        <th>
                          <button disabled class="btn btn-sm btn-danger deleteQuestion"
                                  type="button" data-toggle="tooltip"
                                  data-original-title="Remove this question"
                                  data-question-id="<%= question.id %>">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                        </th>
                        <th>
                          <strong><%= question.body %></strong>
                        </th>
                        <th>
                          <strong><%= question.department %></strong>
                        </th>
                        <th>
                          <strong><%= question.key %></strong>
                        </th>
                      </div>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
        </fieldset>
      </div>
      <div class="modal-footer" style="border: 0">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>