<div class="modal fade bs-modal-sm" id="new-restaurant-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>
      <div class="modal-body">
            <%= form_for :restaurant, as: :post, url: new_restaurant_path(:restaurants), html: { class: 'restaurantForm'} do |f| %>
                <fieldset>
                  <!-- Name -->
                  <div class="control-group col-xs-12 margin-top-8">
                    <label class="control-label" for="name">Restaurant Name:</label>
                    <div class="controls">
                      <%= f.text_field :name, :class => "form-control", :placeholder => "Restaurant Name" %>
                    </div>
                  </div>

                  <!-- Url -->
                  <div class="control-group col-xs-12 margin-top-8">
                    <label class="control-label" for="url">Website:</label>
                    <div class="controls">
                      <%= f.text_field :url, :class => "form-control", :placeholder => "www.google.com" %>
                    </div>
                  </div>

                  <!-- Phone number -->
                  <div class="control-group col-xs-12 margin-top-8">
                    <label class="control-label" for="phone_number">Phone:</label>
                    <div class="controls">
                      <%= f.telephone_field :phone_number, :class => "form-control", :placeholder => "(555) 555-5555" %>
                    </div>
                  </div>

                  <!-- Email and password-->
                  <div class="control-group">
                    <div class="controls col-xs-12 margin-top-8">
                      <label class="control-label" for="email">Temp email </label>
                      <label class="control-label" for="password">& password:</label>
                    </div>
                    <div class="controls col-xs-6">
                      <%= f.text_field :email, :class => "form-control", :placeholder => "Temp Username",
                                       :value => "#{rand(999999999)}@fiveandten.com"
                      %>
                    </div>
                    <div class="controls col-xs-6">
                      <%= f.text_field :password, :class => "form-control", :placeholder => "Temp Password",
                          :value => "#{rand(999999999999)}"
                      %>
                    </div>
                  </div>

                  <!-- address-->
                  <div class="control-group">
                    <div class="controls col-xs-12 margin-top-8">
                      <label class="control-label" for="address">Address:</label>
                    </div>
                    <div class="controls col-xs-5">
                      <%= f.text_field :address, :class => "form-control", :placeholder => "Address" %>
                    </div>
                    <div class="controls col-xs-3">
                      <%= f.text_field :city, :class => "form-control", :placeholder => "City" %>
                    </div>
                    <div class="controls col-xs-2">
                      <%= f.text_field :state, :class => "form-control", :placeholder => "State" %>
                    </div>
                    <div class="controls col-xs-2">
                      <%= f.text_field :zip, :class => "form-control", :placeholder => "Zip" %>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="control-group col-xs-12">
                    <label class="control-label" for="signin"></label>
                    <div class="controls">
                      <%= f.submit "Create", :class => "btn btn-primary login" %>
                    </div>
                  </div>
                </fieldset>
            <% end %>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>