<h1>
  Welcome back
  <%= current_user.first_name.capitalize %>
</h1>
<br>
<br>

<br>
<br>
<%= render 'admin/evaluations', locals: {standard: 'fine_dining'}%>
<%= render 'admin/evaluations', locals: {standard: 'fast_casual'}%>
<%= render 'admin/evaluation', locals: {standard: 'fast_casual'} %>


<%= render 'admin/departments', locals: {type: 'departments', list: @departments} %>
<%= render 'admin/departments', locals: {type: 'keys', list: @keys} %>

<%= link_to('Departments', "#login", :data => {toggle: 'modal', target: ".departments-modal"}) %><br>
<%= link_to('Keys', "#login", :data => {toggle: 'modal', target: ".keys-modal"}) %><br>

<%= link_to('Fine Dining', "#login", :data => {toggle: 'modal', target: ".fine_dining-modal"}) %><br>
<%= link_to('Fast Casual', "#login", :data => {toggle: 'modal', target: ".fast_casual-modal"}) %><br>
<%= link_to('New Evaluation', "#login", :data => {toggle: 'modal', target: ".eval-modal"}) %>

<br><br>
<div class="container">
    <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <%= render 'admin/users' %>
    </div>
</div>