<h1>
  Welcome back
  <%= current_user.first_name.capitalize %>
</h1>
<br>
<br>

<br>
<br>
<%= render 'admin/evaluations', locals: {standard: 'fine_dining'}%>
<%= render 'admin/evaluations', locals: {standard: 'fast_casual'}%>
<%= render 'admin/evaluation', locals: {standard: 'fast_casual'} %>


<%= render 'modals/list', locals: {type: 'departments', list: @departments} %>
<%= render 'modals/list', locals: {type: 'keys', list: @keys} %>
<%= render 'modals/restaurant' %>


<%= link_to('Departments', "#login", :data => {toggle: 'modal', target: ".departments-modal"}) %><br>
<%= link_to('Keys', "#login", :data => {toggle: 'modal', target: ".keys-modal"}) %><br>
<%= link_to('New Restaurant', "#login", :data => {toggle: 'modal', target: "#new-restaurant-modal"}) %><br><br>

<%= link_to('Fine Dining', "#login", :data => {toggle: 'modal', target: ".fine_dining-modal"}) %><br>
<%= link_to('Fast Casual', "#login", :data => {toggle: 'modal', target: ".fast_casual-modal"}) %><br>


<%= link_to('New Evaluation', "#login", :data => {toggle: 'modal', target: ".eval-modal"}) %>

<br><br>
<h4>Pending applications</h4>

<ul class="list-group">
  <% @all_pending_evaluations.each do |application| %>
      <li class="list-group-item">
        <%= application.evaluation.restaurant.name %> - <%= application.user.email %> -
        <button class="btn btn-success approveApplication" data-application-id="<%= application.id %>">Approve</button>
        <button class="btn btn-danger denyApplication" data-application-id="<%= application.id %>">Deny</button>
      </li>
  <% end %>
</ul>
<br>
<br>
<h4>Open Evaluations</h4>

<ul class="list-group">
  <% @open_evaluations.each do |application| %>
      <li class="list-group-item">
        <%= application.evaluation.restaurant.name %> - <%= application.user.email %> -
        <button class="btn btn-success approveApplication" data-application-id="<%= application.id %>">Approve</button>
        <button class="btn btn-danger denyApplication" data-application-id="<%= application.id %>">Deny</button>
      </li>
  <% end %>
</ul><br>
<br>
<h4>Denied Evaluations</h4>

<ul class="list-group">
  <% @denied_evaluations.each do |application| %>
      <li class="list-group-item">
        <%= application.evaluation.restaurant.name %> - <%= application.user.email %> -
        <button class="btn btn-success approveApplication" data-application-id="<%= application.id %>">Approve</button>
        <button class="btn btn-danger denyApplication" data-application-id="<%= application.id %>">Deny</button>
      </li>
  <% end %>
</ul>
<br><br>

<h4>Open evaluations</h4>

<ul class="list-group">
  <% @evaluations.each do |evaluation| %>
      <li class="list-group-item">
        <%= evaluation.restaurant.name%> | <%= evaluation.standards %> | <%= evaluation.status %>
      </li>
<% end %>
</ul>
<br>
<br>



<div class="container">
    <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <%= render 'admin/users' %>
    </div>
</div>