<h2>Hello admin,</h2>
<p>
  An Evaluator(<%= @user.email %>) has applied for the <%= @application.evaluation.restaurant.name %> Evaluation.
  <br><br>
  <strong>Please tell us why you would be a good fit for this evaluation?</strong>
  <br><br>
  Answer: <i><%= @message %></i>
</p>
<a href="<%= base_url %>/evaluations/<%= @application.evaluation.id %>/assign_to/<%= @user.id %>">Accept Application</a>
<a href="<%= base_url %>/evaluations/<%= @application.evaluation.id %>/decline/<%= @user.id %>">Deny Application</a>