<div class="container">
  <% if current_user %>
      <% if current_user.admin || current_user.id == @restaurant.id %>
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Name:</strong>
            <%= @restaurant.name.split.map(&:capitalize)*' ' %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @restaurant.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= @restaurant.phone_number %>
          </p>

          <p>
            <strong>Website:</strong>
            <%= @restaurant.url %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= render 'helper/address_format', locals: {entity: @restaurant} %>
          </p>
          <%= link_to 'Back', root_path %>
      <% else %>
          <h1>404</h1>
      <% end %>
  <% else %>
      <h1>404</h1>
  <% end %>
</div>