<!-- Modal -->
<div class="modal fade bs-modal-sm evaluation-modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <br>
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#standards" data-toggle="tab">All</a></li>
          <% @departments.each do |department| %>
              <% if Question.where(department: department.name).count > 0 %>
                  <li class=""><a href="#<%= department.name %>" data-toggle="tab"><%= department.name.capitalize %></a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
          <% @departments.each do |department| %>
              <% if Question.where(department: department.name).count > 0 %>
                  <% department_questions = [] %>
                  <% @all_questions.each do |question| %>
                      <% if question.department == department.name %>
                        <% department_questions.push(question) %>
                      <% end %>
                  <% end %>
                  <div class="tab-pane fade" id=<%= department.name %>>
                    <fieldset>
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th class="col-xs-8">Question</th>
                          <th class="col-xs-4">Pass</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% department_questions.each do |question| %>
                            <tr>
                              <div class="user-row" data-question-id="<%= question.id %>">
                                <th>
                                  <strong><%= question.body %></strong>
                                </th>
                                <th>
                                  <strong>

                                    <div class="btn-group questionCheckbox" data-toggle="buttons" data-question-id=<%= question.id %>>>
                                      <label class="btn btn-default questionLabel questionCheckbox questionFailed" data-question-id=<%= question.id %>>
                                        <input class="questionFail questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="0" checked>
                                        Fail </label>
                                      <label class="btn btn-default questionLabel questionNil active" data-question-id=<%= question.id %>>
                                        <input type="radio" name="inputWalls" id="inputWalls" value="nil">
                                        <span class="glyphicon glyphicon-print"></span>
                                      </label>
                                      <label class="btn btn-default questionLabel questionCheckbox questionPassed" data-question-id=<%= question.id %>>
                                        <input class="questionPass questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="1">
                                        Pass </label>
                                    </div>


                                    <!--<div class="btn-group questionCheckboxAll" data-toggle="buttons" data-question-id=<%= question.id %>>>-->
                                      <!--<label class="btn btn-default questionCheckbox" data-question-id=<%= question.id %>>-->
                                        <!--<input class="questionFail questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="0" checked>-->
                                        <!--Fail </label>-->
                                      <!--<label class="btn btn-default active">-->
                                        <!--<input type="radio" name="inputWalls" id="inputWalls" value="nil">-->
                                        <!--_ </label>-->
                                      <!--<label class="btn btn-default questionCheckbox" data-question-id=<%= question.id %>>-->
                                        <!--<input class="questionPass questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="1">-->
                                        <!--Pass </label>-->
                                    <!--</div>-->
                                  </strong>
                                </th>
                              </div>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </fieldset>
                  </div>
              <% end %>
          <% end %>
          <div class="tab-pane fade active in" id="standards">
            <fieldset>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="col-xs-8">Question</th>
                  <th class="col-xs-4">Pass</th>
                </tr>
                </thead>
                <tbody>
                <% @all_questions.each do |question| %>
                    <tr>
                      <div class="user-row" data-question-id="<%= question.id %>">
                        <th>
                          <strong><%= question.body %></strong>
                        </th>
                        <th>
                          <strong>

                            <div class="btn-group questionCheckboxAll" data-toggle="buttons" data-question-id=<%= question.id %>>>
                              <label class="btn btn-default questionLabel questionCheckbox questionFailed" data-question-id=<%= question.id %>>
                                <input class="questionFail questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="0" checked>
                                Fail </label>
                              <label class="btn btn-default questionLabel questionNil active" data-question-id=<%= question.id %>>
                                <input type="radio" name="inputWalls" id="inputWalls" value="nil">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                              </label>
                              <label class="btn btn-default questionLabel questionCheckbox questionPassed" data-question-id=<%= question.id %>>
                                <input class="questionPass questionAnswer" data-question-id=<%= question.id %> type="radio" name="inputWalls" id="inputWalls" value="1">
                                Pass </label>
                            </div>
                          </strong>
                        </th>
                      </div>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: 0">
        <center class="user-evaluation-center">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>