<%= render 'evaluator/user_evaluation' %>
<%= render 'evaluator/apply_to_evaluation' %>


<br>
<div class="container">
  <h4>Open Evaluations</h4>
  <%= render 'evaluator/tables/open_evaluations' %>
  <br>

  <h4>New evaluations</h4>
  <%= render 'evaluator/tables/new_evaluations' %>
  <br><br>

  <h4>Submitted evaluations</h4>
  <%= render 'evaluator/tables/submitted_evaluations' %>
  <br><br>

</div>