<table class="table table-bordered align-center">
  <thead>
  <tr>
    <th class="col-xs-2" data-field="id">Name</th>
    <th class="col-xs-1" data-field="id">Restaurant</th>
    <th class="col-xs-1" data-field="id">Standards</th>
    <th class="col-xs-1" data-field="id">Complete</th>
    <th class="col-xs-1" data-field="name">Open Evaluations</th>
    <th class="col-xs-1" data-field="name">Completed Evaluations</th>
    <th class="col-xs-1" data-field="price">Created At</th>
    <th class="col-xs-3" data-field="price">Address</th>
  </tr>
  </thead>
  <tbody>
  <% locals[:evaluations].each do |evaluation| %>
      <tr>
        <th>
          <%= evaluation.name %>
        </th>
        <th>
          <%= evaluation.restaurant.name.split.map(&:capitalize)*' ' %>
        </th>
        <th>
          <%= evaluation.standard.name %>
        </th>
        <th>
          <% ready = (EvaluationApplication.where(evaluation_id: evaluation.id, status: 'submitted').count > 0) && (EvaluationApplication.where(evaluation_id: evaluation.id, status: 'open').count == 0) %>
          <% if ready %>
              <button class="btn btn-info completeEvaluation" data-application-id="<%= evaluation.id %>">Complete</button>
          <% else %>
              <button class="btn btn-default completeEvaluation" data-application-id="<%= evaluation.id %>">Complete</button>
          <% end %>
        </th>

        <th>
          <%= EvaluationApplication.where(evaluation_id: evaluation.id, status: 'open').count %>
        </th>
        <th>
          <%= EvaluationApplication.where(evaluation_id: evaluation.id, status: 'submitted').count %>
        </th>
        <th>
          <%= evaluation.created_at.strftime("%b %d, %Y") %>
        </th>
        <th>
          <%= render 'helper/address_format', locals: {entity: evaluation.restaurant} %>
        </th>
      </tr>
  <% end %>
  </tbody>
</table>