<!DOCTYPE html>
<html>
<head>
  <title>10&5 Hospitality</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'wine_glass.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav_bar' %>
<%= render 'modals/login' %>

<div class="main-content">
  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="footer-block">©10&5 Hospitality, LLC</p>
  </div>
</div>

</body>
</html>
