<table class="table table-bordered align-center">
  <thead>
  <tr>
    <th class="col-xs-2" data-field="id">Restaurant</th>
    <th class="col-xs-1" data-field="id">Evaluation</th>
    <th class="col-xs-1" data-field="price">Site</th>
    <th class="col-xs-3" data-field="price">Address</th>
    <th class="col-xs-5" data-field="price">Message</th>
  </tr>
  </thead>
  <tbody>
  <% @new_evaluations.each do |evaluation| %>
      <% open_application = EvaluationApplication.where(user_id: current_user.id, evaluation_id: evaluation.id) %>
      <% if open_application.exists? %>
          <% if open_application[0].status == 'pending' %>
              <tr>
                <th>
                  <%= evaluation.restaurant.name.split.map(&:capitalize)*' ' %>
                </th>
                <th>
                  <p class="btn-danger pendingEvaluation margin-0" data-evaluation-id="<%= evaluation.id %>">Pending</p>
                </th>
                <th>
                  <%= link_to 'website', "http://#{evaluation.restaurant.url}" %>
                </th>
                <th>
                  <%= render 'helper/address_format', locals: {entity: evaluation.restaurant} %>
                </th>
                <th>
                  <% if evaluation.message %>
                      <%= evaluation.message %>
                  <% else %>
                      No message.
                  <% end %>
                </th>
              </tr>
          <% end %>
      <% else %>
          <tr>
            <th>
              <%= evaluation.restaurant.name.split.map(&:capitalize)*' ' %>
            </th>
            <th>
              <button href="#login" class="btn btn-success applyToEvaluation" data-evaluation-id="<%= evaluation.id %>" data-toggle="modal" data-target=".application-modal">Apply</button>
              <!--<button class="btn btn-success applyToEvaluation" data-evaluation-id="<%= evaluation.id %>">Apply</button>-->
            </th>
            <th>
              <% if evaluation.restaurant.url == nil %>
                  <%= link_to 'website', "https://www.google.com/?q=#{evaluation.restaurant.name}", :target => "_blank" %>
              <% else %>
                  <%= link_to 'website', "http://#{evaluation.restaurant.url}", :target => "_blank" %>
              <% end %>
            </th>
            <th>
              <%= render 'helper/address_format', locals: {entity: evaluation.restaurant} %>
            </th>
            <th>
              <% if evaluation.message %>
                  <%= evaluation.message %>
              <% else %>
                  No message.
              <% end %>
            </th>
          </tr>

      <% end %>
  <% end %>
  </tbody>
</table>
